<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="./m3-dialog.css">
</head>

<body>
    <div class="contanier">
        <div class="m-dialog">
            <div class="m-dialog__header">
                <div class="m-dialog__header-title">
                    <p>Basic dialog title</p>
                </div>
            </div>
            <div class="m-dialog__body">
                <p>A dialog is a type of modal window that appears in front of app content to provide critical
                    information, or prompt for a decision to be made.</p>
            </div>
            <div class="m-dialog__footer">
                <button>Action2</button>
                <button>Action1</button>
            </div>
        </div>
    </div>
</body>

</html>