* {
    font-family: 'Roboto',
        'Segoe UI',
        'Helvetica Neue',
        Arial,
        sans-serif;
}

.m-dialog {
    /* 공통 상수 초기화 */
    /* color */

    --dialog-bg: #ECE6F0;
    --dialog-btn-font-color: #6750A4;
    --dialog-header-font-color: #1D1B20;
    --dialog-content-font-color: #49454F;
    --dialog-btn-hover-bg-color: rgba(103, 80, 164, 0.08);
    --dialog-btn-disable-bg-color: #D8D2DB;
    --dialog-btn-disable-color: #918D95;

    /* font size */
    --dialog-font-size-1: 24px;
    --dialog-font-size-2: 14px;

    --dialog-font-weight-1: 400;
    --dialog-font-weight-2: 500;

    /* width, height */
    --dialog-width: 312px;

    --dialog-btn-content-height: 88px;
    --dialog-btn-width: 85px;
    --dialog-btn-height: 48px;

    /* radius */
    --dialog-radius: 28px;

    /* opacity */
    --dialog-opacity-1: 0.08;
    --dialog-opacity-2: 0.1;

    /* padding */
    --dialog-padding-1: 24px;
    --dialog-padding-2: 16px;
    --dialog-padding-3: 12px;
    --dialog-padding-4: 8px;


    /* DarkMode */
    --dialog-bg-dark: #2B2930;
    --dialog-btn-font-color-dark: #D0BCFF;
    --dialog-header-font-color-dark: #E6E0E9;
    --dialog-content-font-color-dark: #CAC4D0;
    --dialog-btn-hover-bg-color-dark: rgba(208, 188, 255, 0.1);
    --dialog-btn-disable-bg-color-dark: #D8D2DB;

    /* 변수 */


}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease, opacity 0.3s ease;

    z-index: 1000;
}

.container-hidden {
    visibility: hidden;
    opacity: 0;
}

/*  */
/* ========================================================= */
/* 1. 다이얼로그(Dialog) 기본 스타일 (.m-dialog) */
/* ========================================================= */
.m-dialog {
    /* 레이아웃 및 크기 */
    width: var(--dialog-width);
    margin: 14px;

    /* 배경 및 테두리 */
    background-color: var(--dialog-bg);
    border-radius: var(--dialog-radius);
}

/* ========================================================= */
/* 2. 다이얼로그 헤더 (.m-dialog__header) */
/* ========================================================= */
.m-dialog__header {
    /* 폰트 */
    font-weight: var(--dialog-font-weight-1);

    /* 내부 패딩 (상, 우, 좌, 하 순서) */
    padding-top: var(--dialog-padding-1);
    padding-right: var(--dialog-padding-1);
    padding-left: var(--dialog-padding-1);
    padding-bottom: var(--dialog-padding-4);
    /* 헤더와 본문 사이의 간격 */
}

/* 2-1. 헤더 제목 텍스트 (.m-dialog__header-title) */
.m-dialog__header-title {
    /* 폰트 */
    font-size: var(--dialog-font-size-1);
    font-weight: var(--dialog-font-weight-1);
    color: var(--dialog-header-font-color);
}


/* ========================================================= */
/* 3. 다이얼로그 본문 (.m-dialog__body) */
/* ========================================================= */
.m-dialog__body {
    /* 내부 패딩 (상, 우, 좌, 하 순서) */
    padding-top: var(--dialog-padding-4);
    /* 헤더와의 간격 */
    padding-right: var(--dialog-padding-1);
    padding-left: var(--dialog-padding-1);
    padding-bottom: var(--dialog-padding-3);
    /* 푸터와의 간격 */
}

/* ========================================================= */
/* 4. 다이얼로그 푸터 (.m-dialog__footer) */
/* ========================================================= */
.m-dialog__footer {
    /* 레이아웃 (버튼 배치) */
    display: flex;
    justify-content: flex-end;
    /* 버튼을 오른쪽 끝으로 정렬 */

    /* 내부 패딩 (상, 우, 좌, 하 순서) */
    padding-top: var(--dialog-padding-3);
    /* 본문과의 간격 */
    padding-right: var(--dialog-padding-1);
    padding-left: var(--dialog-padding-1);
    padding-bottom: var(--dialog-padding-1);
}

/* 4-1. 푸터 내부 버튼 (.m-dialog__footer button) */
.m-dialog__footer button {
    /* 폰트 */
    font-size: 14px;
    font-weight: var(--dialog-font-weight-2);
    color: var(--dialog-btn-font-color);

    /* 크기 및 모양 */
    height: var(--dialog-btn-height);
    width: var(--dialog-btn-width);
    border-radius: var(--dialog-radius);
}

/* 4-2. 버튼 호버 효과 (.m-dialog__footer > button:hover) */
.m-dialog__footer>button:hover {
    transition: all 0.3s ease;
    background-color: rgba(103, 80, 164, 0.08);
}

.m-dialog__footer button:active {
    transition: all 0.3s ease;
    background-color: rgba(103, 80, 164, 0.1);
    color: var(--dialog-btn-font-color);
}


/* Button disable */
/* .m-dialog__footer>button:disabled {
    background-color: var(--dialog-btn-disable-bg-color);
    color: var(--dialog-btn-disable-color);
} */

@media (prefers-color-scheme: dark) {
    .m-dialog {
        background-color: var(--dialog-bg-dark);
    }

    .m-dialog__header-title {
        color: var(--dialog-header-font-color-dark);
    }

    .m-dialog__body {
        color: var(--dialog-content-font-color-dark);
    }

    .m-dialog__footer button {
        color: var(--dialog-btn-font-color-dark);
    }

    .m-dialog__footer>button:hover {
        transition: all 0.3s ease;
        background-color: rgba(208, 188, 255, 0.08);
    }

    .m-dialog__footer button:active {
        transition: all 0.3s ease;
        background-color: rgba(208, 188, 255, 0.1);
        color: var(--dialog-btn-font-color-dark);
    }
}