* {
    font-family: 'Roboto',
        'Segoe UI',
        'Helvetica Neue',
        Arial,
        sans-serif;
}

.m-dialog {
    /* 공통 상수 초기화 */
    /* color */

    --dialog-bg: #ECE6F0;
    --dialog-btn-font-color: #6750A4;
    --dialog-header-font-color: #1D1B20;
    --dialog-content-font-color: #49454F;


    /* font size */
    --dialog-font-size-1: 24px;
    --dialog-font-size-2: 14px;

    --dialog-font-weight-1: 400;
    --dialog-font-weight-2: 500;

    /* width, height */
    --dialog-width: 312px;

    --dialog-btn-content-height: 88px;
    --dialog-btn-width: 85px;
    --dialog-btn-height: 48px;

    /* radius */
    --dialog-radius: 28px;

    /* opacity */
    --dialog-opacity-1: 0.08;
    --dialog-opacity-2: 0.1;

    /* padding */
    --dialog-padding-1: 24px;
    --dialog-padding-2: 16px;

    /* DarkMode */
    --dialog-bg-dark: #2B2930;
    --dialog-btn-font-color-dark: #D0BCFF;
    --dialog-header-font-color-dark: #E6E0E9;
    --dialog-content-font-color-dark: #CAC4D0;
    --dialog-btn-disable-bg-color-dark: #D8D2DB;


    /* 변수 */


}

@media (prefers-color-scheme: dark) {
    .m-dialog {
        background-color: var(--dialog-bg-dark);
    }

    .dialog-header {
        color: var(--dialog-header-font-color-dark);
    }

    .dialog-content {
        color: var(--dialog-content-font-color-dark);
    }

    .m-dialog-btn-action {
        color: var(--dialog-btn-font-color-dark);
    }

    .m-dialog-btn-action:hover {
        background-color: color-mix(in srgb, var(--dialog-btn-font-color-dark) 8%, transparent);
    }

    .m-dialog-btn-action:active {
        background-color: color-mix(in srgb, var(--dialog-btn-active-bg-color-dark) 10%, transparent);
    }

    .m-dialog-btn-action:disabled {
        background-color: color-mix(in srgb, var(--dialog-btn-disable-bg-color-dark) 10%, transparent);
        color: color-mix(in srgb, var(--dialog-btn-disable-bg-color-dark) 38%, transparent);
    }
}

/*  */
.m-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--dialog-width);
    background-color: var(--dialog-bg);
    border-radius: var(--dialog-radius);
    display: flex;
    flex-direction: column;
}

.m-dialog-container {
    display: flex;
    flex-direction: column;
    padding: var(--dialog-padding-1);
    gap: var(--dialog-padding-2);
}

.dialog-header {
    font-size: var(--dialog-font-size-1);
    font-weight: var(--dialog-font-weight-2);
    color: var(--dialog-header-font-color);
}

.dialog-content {
    font-size: var(--dialog-font-size-2);
    font-weight: var(--dialog-font-weight-1);
    color: var(--dialog-content-font-color);
}

.m-dialog-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 24px;

}

.m-dialog-btn-action {
    background-color: var(--dialog-bg);
    font-size: var(--dialog-font-size-2);
    font-weight: var(--dialog-font-weight-2);
    color: var(--dialog-btn-font-color);
    border-radius: var(--dialog-radius);
    height: 40px;
    /* border: none; */
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

}

/* 상태 별 속성 */
.m-dialog-btn-action:hover {
    background-color: color-mix(in srgb, var(--dialog-btn-font-color) 8%, transparent);
}

.m-dialog-btn-action:focus {
    background-color: color-mix(in srgb, var(--dialog-btn-font-color) 8%, transparent);
}

.m-dialog-btn-action:active {
    background-color: color-mix(in srgb, var(--dialog-btn-font-color) 10%, transparent);
}

.m-dialog-btn-action:disabled {
    background-color: color-mix(in srgb, var(--dialog-header-font-color) 10%, transparent);
    color: color-mix(in srgb, var(--dialog-header-font-color) 38%, transparent);
}