<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../reset.css">
    <link rel="stylesheet" href="m3-dialog.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="m-dialog">
        <!-- enabled -->
        <div class="m-dialog-container">
            <header class="dialog-header">Basic dialog title</header>
            <main class="dialog-content">
                A dialog is a type of modal window
                that appears in front of app
                content to provide critical information,
                or prompt for a decision to be made.
            </main>
        </div>
        <div class="m-dialog-btn">
            <button class="m-dialog-btn-action">action1</button>
            <button class="m-dialog-btn-action" disabled>action2</button>
        </div>
    </div>
</body>

</html>